@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    width:100%;
    height: 100%
}

body{
    width:100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 100%;
    min-height: 100%;
    font-size: 15px;
    font-family: sans-serif;
    background-color: hsl(240, 78%, 98%);
    background-image: url(images/bg-bottom.svg), url(images/bg-top.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: 0% 100%, 100% 0%;
    background-size: 25rem, 20rem;   
}

h1 {
    text-align: center;
    color: hsl(234, 14%, 49%);
    font-size: 3rem;
    padding: 2rem 0;
}

h2 {
    font-size: 2rem; 
    text-transform: uppercase;
    padding-bottom: 15px;
    margin-top: 10px;
}

h3 {
    font-size:5rem;
    padding: 1rem 3rem;
    display:flex;
    align-items: center;
    justify-content: center;
    
}
.hide {

    display:none;
}

h4.price{
    font-size: 5rem;
    padding: 1rem 3rem; 
    text-align: center;
    align-items: center;
    justify-content: center;
}
p {
    font-size: 1.7rem;
    text-align: center;
}

input{
    height:0;
    width: 0;
    visibility: hidden;
}
label{
    width: 100px;
    height: 60px;
    background-color: rgb(88, 88, 239);
    display: block;
    border-radius: 70%;
    cursor:pointer;
    position: relative;
    bottom:5px;
    right:50px;
    border-radius: 70px;
}
nav{
    display:flex;
    flex-direction: column;
    align-items: center;

}

label:after{
    content:"";
    position: absolute;
    top: 13px;
    right: 20px;
    width: 35px;
    height:35px;
    background-color: antiquewhite;
    border-radius: 50%;
    transition: .3s;
}

input:checked + label{
    background-color: rgb(88, 88, 239);
}

input:checked + label:after{
    left: calc(100% -10px);
    transform: translateX(-100%);
}

label:active:after{
    width: 35px;
}
.selector {
    display: flex;
    color: hsl(234, 14%, 74%);
    justify-content: center;
    align-items: center;
}

#selector-bar {
    background-color: hsl(237, 63%, 64%);
    width: 3.5rem;
    /* height: 2rem; */
    margin: 0 1.5rem;
    padding: 0.1rem;
    border-radius: 15px;
    cursor: pointer
}


#cards {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height:50%;
    padding-top: 20px;
    margin: 2rem auto;
    text-align: center;
}

.card-left , .card-middle , .card-right {
    padding: 3rem;
    width: 100%;
    background-color: white;
    box-shadow: 0px 0px 19px -8px rgba(0,0,0,0.75);
}

.card-middle {
    padding: 5rem 2rem;
    background: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    color: white;
    border-radius: 10px;
}

.card-middle p ,.card-left p , .card-right p  {
    padding: 1rem 0;
}


.card-left p , .card-right p {
    color: hsl(233, 13%, 49%);
}

.card-left {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px
}

.card-right {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px
}

#card hr {
    width: 75%;
    margin: auto;
    opacity: 0.2;
}


button {
    width: 80%;
    margin : 1.8rem auto 0.8rem auto;
    padding: 1rem;
    cursor: pointer;
    font-size: 1.5rem;
    transition-duration: 3000;
    color:white;
    background-color: hsl(237, 63%, 64%);
    border: none;
    border-radius: 5px; 
    text-transform: uppercase;
}

.card-middle button {
    color: hsl(237, 63%, 64%);
    background-color: white;  
}

.card-middle button:hover{
    color:white;
    background-color: transparent;
}

button:hover{
    color:hsl(237, 63%, 64%);
    background-color: transparent;
}

@media only screen and (max-width: 760px){
    #cards {
        flex-direction: column;        
    }
    
#cards {
    display: flex;
    flex-direction: column;
    width: 80%;
    height:50%;
    padding-top: 20px;
    margin: 2rem auto;
}
    .card-left , .card-middle , .card-right {
        margin: 1rem;
        border-radius: 10px;
        width: 100%;
        padding: 3rem;
    
    }
    h3, h4.price{
        font-size: 4rem;
        padding: 0.6rem 1.5rem;
    }
   h2{
     font-size: 25px;
     color: rgb(10, 10, 69);
   }

   label{
    width: 40px;
    height: 25px;
    
}
label:after{

    width: 18px;
    height:18px;
    top: 4px;
    right: 4px;
}
.selector{
    padding-left:10px;
}
h2 {
    padding-left: 0px;
}

}